:root {
    --theme-color: #6cd4fd;
    --theme-hover-color: #35c3fb;
    --bg-color: #b7ebff;
    --text-color: #333;
    --text-hover-color: #111;
}

.dev:hover {
    box-shadow: 0 0 10px #000;
}